{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.auth.css' %}">

    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h3>Stock<span>Manager</span>.</h3>
            <h2>{% block titleArea %}
            
            {% endblock titleArea %}</h2>
            <div>
                {% block authArea %}
                
                {% endblock authArea %}
            </div>
        </div>
    </div>
</body>
</html>