@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset básico */

:root{
    --primary-color: #3c5de2;
    --primary-color-dark: #3651bd;
    --text-white: #f5f6f7;
    --text-dark:  #545151;

    --font-header: 'Bebas Neue', sarif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #886efb);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.form-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-bottom: 1rem;
    color: #333;
    font-family: var(--font-header);
}
h3{
    color: var(--primary-color-dark);
    font-family: var(--font-header);
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: .8rem;
}

h3 span{
    color: var(--text-dark);
    font-family: var(--font-header);

}



/* Estilo dos campos de entrada */
p {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

input:focus {
    border: 1px solid #2575fc;
}

/* Estilização dos textos de ajuda */
.helptext {
    font-size: 12px;
    color: #666;
    display: block;
    margin-top: 5px;
}

/* Ajuste para listas dentro das mensagens de ajuda */
ul {
    padding-left: 20px;
    margin: 5px 0 0;
    list-style: square;
    text-align: left;
}

li {
    font-size: 14px;
    color: #666;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #1a5ec8;
}

/* Estilização de mensagens de erro */
ul.errorlist {
    background: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

a {
    color: #6e8efb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@media (max-width: 480px) {
    .form-box {
        padding: 15px;
    }
    input, button {
        font-size: 14px;
    }
}